.wrapper {
  height: calc(100vh - 45px);
}

.img {
  object-fit: contain;
}

.background {
  z-index: -1;
  -webkit-filter: blur(3px);
  -moz-filter: blur(3px);
  -o-filter: blur(3px);
  -ms-filter: blur(3px);
  filter: blur(3px);
}