.wrapper {
  position: relative;
  height: 40vh;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
}

.background {
  position: absolute;
  z-index: -1;
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
}

.image {
  object-fit: contain;
}